# macOS-specific files
.DS_Store

# dependencies
node_modules/

# environment variables
.env
.dev.vars

# cloudflare
.wrangler

# build output
dist/

# generated types
.astro/

# OTHERS
coverage

# APM dependencies
apm_modules/

.agents/**
.claude
.codex
.gemini
.github/instructions/**
.opencode
opencode.json
.vscode/mcp.json
.mcp.json
AGENTS.md
GEMINI.md
CLAUDE.md

!.agents/rosie.lock